#10{text-align:left;background-color: #700070;}
.sender{text-align:right;}
.recvd{text-align:left;}
.time{color: red;font-size: medium;}
.send_text{color: black;background-color: rgba(230, 200, 200, 0.96);font-size: xx-large;}
.recv_text{color: black;background-color: rgba(231, 225, 225, 0.96);font-size: xx-large;}